root = true

[*]
indent_style = space
end_of_line = lf
insert_final_newline = true

[*.{nix,css,lua,rasi,sh}]
indent_style = space
indent_size = 2

[*.{js,py,kbd}]
indent_style = space
indent_size = 4

